<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/home.css' %}">
    <title>Get Item Data</title>
    <script src="{% static 'script/home.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="input-group">
            <label for="item">Item</label>
            <div class="input-wrapper">
                <input type="text" id="item" name="item_number" required>
                <img src="https://img.icons8.com/ios-filled/50/ffffff/camera.png" alt="Camera" class="camera-icon" onclick="openCamera()">
            </div>
        </div>
        <div class="instructions">
            Enter the item number manually or click on the camera for scanning.
        </div>
        <div class="buttons">
            <button onclick="window.history.back()">Cancel</button>
            <button onclick="enter()">Enter</button>
        </div>
    </div>
</body>
</html>
