<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Get Item Data</title>
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/home.css' %}">
    <script src="{% static 'script/home.js' %}" defer></script>

    <div class="container">
        <form method="get" action="{% url 'fetch_external_data' %}">
            <div class="input-group">
                <label for="item">Item</label>
                <div class="input-wrapper">
                    <input list="items" id="item" name="item_number" required>
                    <datalist id="items">
                        {% for item in get_data.items %}
                            <option value="{{ item.ItemNumber }}">{{ item.ItemNumber }}</option>
                        {% endfor %}
                    </datalist>
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/camera.png" alt="Camera" class="camera-icon" onclick="openCamera()">
                </div>
            </div>
            <div class="instructions">
                Enter the item number manually or click on the camera for scanning.
            </div>
            <div class="buttons">
                <button id="back">Back</button>
                <button type="submit">Enter</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById("back").addEventListener("click", function() {
            window.location.href = "/";
        });
    </script>
{% endblock %}
</html>
