<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Inventory Form</title>
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/item_page.css' %}">
<form action="{% url 'fetch_inventory' %}" method="post">
    {% csrf_token %}
    <h2>Inventory Form</h2>

    <label>Item:</label>
    <div id="item_number">{{ item_number }}</div>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="1" required>

    <label for="subinventory_code">Subinventory Code:</label>
    <input type="text" id="subinventory_code" name="subinventory_code" required>

<!--    <label for="subinventory_code">Subinventory Code:</label>-->
<!--    <div class="input-wrapper">-->
<!--        <input list="items" id="subinventory_code" name="subinventory_code" required>-->
<!--        <datalist id="items">-->
<!--            {% for item in get_single_data.items %}-->
<!--                <option value="{{ item.Subinventory }}">{{ item.Subinventory }}</option>-->
<!--            {% endfor %}-->
<!--        </datalist>-->
<!--    </div>-->

    <label for="transfer_subinventory_code">Transfer Subinventory Code:</label>
    <input type="text" id="transfer_subinventory_code" name="transfer_subinventory_code" required>

    <input type="submit" value="Submit">
</form>
{% endblock %}
</html>
