<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Subinventory Data</title>
{% endblock %}

<head>



</head>

{% block content %}
    <link rel="stylesheet" style="text/css" href="{% static 'myapp/subinventory_data.css' %}">
    <h1>Subinventory Data</h1>
    <table>
        <tr>
            <th>Item Number</th>
            <th>Transaction Quantity</th>
            <th>Subinventory Code</th>
            <th>Transfer Subinventory</th>
        </tr>
        <tr>
            <td>{{ post_response.ItemNumber }}</td>
            <td>{{ post_response.TransactionQuantity }}</td>
            <td>{{ post_response.SubinventoryCode }}</td>
            <td>{{ post_response.TransferSubinventory }}</td>
        </tr>
    </table>
    <div class="message-box">
        Successfully transferred onhand quantity {{post_response.TransactionQuantity}} for item {{ post_response.ItemNumber }} in organization MFG01 from subinventory
        {{ post_response.SubinventoryCode }} to {{ post_response.TransferSubinventory }}.
    </div>
    <div class="buttons">
        <a href="{% url 'item_page' %}"><button type="button">Back</button></a>
    </div>
{% endblock %}
</html>

