/* home.css */

/* Styling for the Content Block */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 10px 0;
}

/* Container */
.container {
    max-width: 800px;
    margin: 120px auto ; /* Increased top margin */
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    flex-direction: column;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

/* Input Group */
.input-group {
    margin-bottom: 1.5em;
}

label {
    font-size: 1.1em;
    color: #333333;
    display: block;
    margin-bottom: 0.5em;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.camera-icon {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.camera-icon:hover {
    opacity: 0.8;
}

/* Instructions */
.instructions {
    font-size: 0.9em;
    color: #666666;
    margin-bottom: 1em;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button#back {
    background-color: #6c757d;
}

button#back:hover {
    background-color: #5a6268;
}

/* Specific Styles for Item List Transaction Page */
.item-input, .transaction-list, .actions {
    margin-bottom: 20px;
}

.item-input label, .transaction-list label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.no-items {
    color: red;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    appearance: none;
}

.actions a {
    text-decoration: none;
    margin-right: 10px;
}

.actions button {
    display: inline-block;
    margin-right: 10px;
}
