<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/home.css' %}">
    <title>Get Item Data</title>
    <script src="{% static 'script/home.js' %}" defer></script>
</head>
<body>
<header>
    <!--h3>Welcome smart scanner</h3-->
    <nav>
        <ul>
           <li class="l1"><a href="#home">Home</a></li>
                <li class="l1"><a href="#about">About</a></li>
                <li class="l1"><a href="#services">Services</a></li>
                <li class="l1"><a href="#contact">Contact</a></li>
                 <li class="l2"><a href="login_page.html">Login</a></li>
                <li class="l2"><a href="logout.html">Logout</a></li>

        </ul>
    </nav>
</header>


{% block title %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
<footer>
    <p>ethx@softcon.com © 2024 Your Website. All rights reserved.</p>
</footer>
</html>
