<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Scanner Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="l1"><a href="{% url 'home' %}">Home</a></li>
                <li class="l1"><a href="#about">About</a></li>
                <li class="l1"><a href="#services">Services</a></li>
                <li class="l1"><a href="#contact">Contact</a></li>
                <li class="l2"><a href="{% url 'login_url' %}">Login</a></li>
                <li class="l2"><a href="{% url 'login_url' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        <p>ethx@softcon.com © 2024 Your Website. All rights reserved.</p>
    </footer>
</body>
</html>
